@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/home.css" rel="stylesheet" />
    <header>
        <ul>
            <a asp-controller="Home">
                <img src="../../img/library.png"
                     alt="logo.png"
                     style="max-width: 100px" />
            </a>

            <div class="header_div" style="width: 100%">
                <div class="d1">
                    <form>
                        <input type="text" placeholder="Искать здесь..." />
                        <button type="submit">
                            <img src="~/img/search.png"
                                 alt="search"
                                 style="margin: 0 auto" />
                        </button>
                    </form>
                </div>

            <li>
                <a class="button" asp-controller="Home">Главная</a>
                <a class="button" href="books">Книги</a>
                <a class="button" href="about">О нас</a>
            </li>

            </div>
        @if (User.Identity.IsAuthenticated)
        {
                <a asp-controller="ReaderAcount" asp-action="Index">
                        <img src="../../img/avatar.png"
                             alt="logo.png"
                             style="max-width: 100px" />
                    </a>
        }
        else
        {
                        <a href="login">
                    <img src="../../img/avatar.png"
                         alt="logo.png"
                         style="max-width: 100px" />
                </a>
        }

        </ul>
    </header>

<link href="~/css/slider.css" rel="stylesheet" />
<div class="slider">
    <div class="slides">
        <div class="slide">
            <img src="../../img/sale1.jpg" alt="Slide 1" />
        </div>
        <div class="slide">
            <img src="../../img/sale2.jpg" alt="Slide 2" />
        </div>
        <div class="slide">
            <img src="../../img/sale3.jpg" alt="Slide 3" />
        </div>
    </div>
    <div class="controls">
        <button class="control" id="prevBtn">&lt;</button>
        <button class="control" id="nextBtn">&gt;</button>
    </div>
</div>
<script src="../../js/script.js"></script>