@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/home.css" rel="stylesheet" />
    <header>
        <ul>
            <a href="Home">
                <img src="../../img/library.png"
                     alt="logo.png"
                     style="max-width: 100px" />
            </a>

            <div class="header_div" style="width: 100%">
                <div class="d1">
                    <form>
                        <input type="text" placeholder="Искать здесь..." />
                        <button type="submit">
                            <img src="~/img/search.png"
                                 alt="search"
                                 style="margin: 0 auto" />
                        </button>
                    </form>
                </div>

            <li>
                <a class="button" href="Home">Главная</a>
                <a class="button" href="books">Книги</a>
                <a class="button" href="about">О нас</a>
            </li>

            </div>
        @if (User.Identity.IsAuthenticated)
        {
                    <a asp-controller="ReaderAcount" asp-action="Index">
                            <img src="../../img/avatar.png"
                                 alt="logo.png"
                                 style="max-width: 100px" />
                        </a>
        }
        else
        {
                            <a href="login">
                        <img src="../../img/avatar.png"
                             alt="logo.png"
                             style="max-width: 100px" />
                    </a>
        }
        </ul>
    </header>

<div class="welcome"><p>Добро пожаловать, библиотекарь @User.Identity.Name!</p></div>