@{
    ViewData["Title"] = "Home Page";
}


<link href="~/css/login.css" rel="stylesheet" />

    <box>
        <a class="back" href="login">
            <img src="../../img/back.png" alt="back" />
        </a>

        <div class="login">

            <div class="new_form">
                                    <form method="post" asp-action="InsertData">
                <div class="username">
                    <p>Имя пользователя:</p>
                    <input id="username" name="username" type="text" />
                </div>
                <div class="username">
                    <p>Email:</p>
                    <input id="email" name="email" type="text" />
                </div>
                <div class="username">
                    <p>Пароль:</p>
                    <input  id="password" name="password" type="password" />
                </div>

                <center><button type="submit">Зарегестрироваться</button></center>
                                                                    </form>
            </div>

        </div>

        </div>

        <script>
    document.querySelector('form').addEventListener('submit', async (e) => {
        e.preventDefault(); // Предотвращаем стандартное поведение формы

        const formData = new FormData(e.target);
        const response = await fetch('/Registration/InsertData', {
            method: 'POST',
            body: new URLSearchParams(formData)
        });

        if (response.ok) {
            alert('Данные успешно добавлены.');
        } else {
            const errorMessage = await response.text();
            alert(`Ошибка: ${errorMessage}`);
        }
    });
</script>
    </box>
